<!DOCTYPE html>
<html lang="en">
    <head>
        <title>about</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <%- include('partials/nav') %>
        <h3>About Page</h3>
        <%= data.name %>
        <%= data.status %>
    </body>
</html>